@mixin theme-generator(
  $post__title: '',
  $post__subtitle: ''
) {

  //Use defaults to filter placeholders
  @if $post__title != '' {
    %theme--post__title {
      color: $post__title;
    }
  }

  @if $post__subtitle != '' {
    %theme--post__subtitle {
      color: $post__subtitle;
    }
  }
}
