<section class="app-logo__wrapper">
    <img class="app-logo" src="../../../assets/images/inline-svg/app-logo.svg" />
</section>
<section class="app-name">Basecamp</section>
<section class="app-context"></section>
<section class="username">
    {{user?.lastName}}, {{user?.firstName}}
    <div class="user-links">
      <a href="" class="link">logout</a> |
      <a href="" class="link">settings</a>
    </div>
</section>
<img class="icon icon--user" src="../../../assets/images/inline-svg/user.svg" />
