<header class="page-header">
  <section class="page-info">
    <span class="app-logo">
      <svg><use [attr.xlink:href]="'#'+appImage.default.id"></use></svg>
    </span>
    <span><h2>Basecamp</h2></span>
    <span>{{ currentRoute$ | async }}</span>
    <span></span>
    <span></span>
  </section>
  <section class="user-area">
    <span class="user-detail">
      <span>{{userName}}</span>
      <span>Login | Logout</span>
      <span>Settings</span>
    </span>
    <span class="user-img">
      <img src={{userPicture}} *ngIf="Picture"/>
      <svg *ngIf="!Picture"><use [attr.xlink:href]="'#'+defaultPicture.default.id"></use></svg>
    </span>
  </section>
</header>
