@import "../../../../../../node_modules/element.ui/modules/core";

%list {
  display: flex;
  border-bottom: 1px solid $color-grey-10;

  > div:first-child {
    flex-basis: 40%;
  }

  > div:nth-child(2) {
    flex-grow: 1;
  }

  > div:last-child {
    flex-basis: 10rem;
  }
}

:host {
  display: flex;
  height: 100%;
}

.patient-list {
  flex-shrink: 0;
  height: 100%;

  h4 {
    padding: $space-sm $space-l;
    margin-bottom: $space-sm;
  }

  li {
    padding: $space-sm $space-l;

    &:hover {
      cursor: pointer;
      background: $color-white;
    }
  }
}

.observations {
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
  padding: $space-inset-default;
  box-sizing: border-box;

  li:first-child {
    @extend %list;
    margin: $space-stack-sm;

    > div {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  li:not(:first-child) {
    @extend %list;
    padding: $space-m 0;
    box-sizing: border-box;
    line-height: 1;
    min-height: 4em;

    a {
      display: block;
    }
  }
}

ul {
  padding: 0;
  list-style: none;
}
