@import "~element.ui/modules/core";

$header-height: 80px;

$basecamp-color-main-low: $color-mayo-5;
$basecamp-color-main-med: $color-mayo-20;
$basecamp-color-main-high: $color-mayo-50;

$basecamp-color-second-low: $color-mayo-5;
$basecamp-color-second-med: $color-mayo-20;
$basecamp-color-second-high: $color-mayo-50;

$header-bg: $basecamp-color-main-med;
$sidebar-bg: $basecamp-color-main-low;

$observation-color-list-border: $color-grey-20;
$observation-color-border: $color-mayo-40;

$icon-color: rgb(74, 74, 74);

$error-msg-color: #ca4000;
