html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #f8f8f8;
  overflow: hidden;

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
  color: #c0392b;
  padding: 0 2em;
  text-decoration: none;
  &:visited {
    color: #e74c3c;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.view {
  display: flex;
  height: 100vh;

  .nav {

    &__primary {
      width: 50px;
      background-color: #333;
      transition: all .4s ease;
      transition-delay: 246ms;


      &:hover {
        width: 225px;
      }

      li {
        position: relative;
        white-space: nowrap;
        color: #fff;
        padding: 10px;
        padding-bottom: 5px;
        cursor: pointer;
        transition: transform .3s ease, border-radius 1s ease;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;

        &:hover {
          background-color: #2990cf;
          transform: translate(7px,0);
          color: #eee;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;

          svg {
            color: #eee;
          }
        }

        &:first-child {
          margin-top: 5px;
        }

        > span {
          position: relative;
          padding-left: 5px;
          top: -10px;
        }
      }

      .selected {
        color: #2990cf;
        svg {
          color: #2990cf;
        }
      }
    }

    &__secondary {

      &--drawer {
        position: absolute;
        right: 0;
        height: calc(100% - 93px);

        .list {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 0;
          padding-top: 5em;
          background-color: #2990cf;
          transition: all .3s ease;
          transition-delay: .3s;
          border-bottom-left-radius: 5vh;
          border-top-left-radius: 5vh;

          > ul {
            flex: 1;
          }

          li {
            list-style: none;
            position: relative;
            color: #fefefe;
            text-align: right;
            padding: .45em 1em;
            cursor: pointer;
            white-space: nowrap;
            transition: transform .3s ease, border-radius 1s ease;
            border-right: 5px solid transparent;
            overflow: hidden;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;

            &:hover {
              background-color: #2172a4;
              transform: translate(-7px,0);
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
            }

            &:last-child {
              margin-bottom: .5em;
            }
          }

          .selected {
            border-right: 5px solid #fefefe;
            background-color: #2172a4;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }
      }

      &--horizontal {
        display: flex;
        border-bottom: 1px solid #ccc;

        .crumb {
          border-right: 2px solid #2172a4;
          background-color: #eee;
          position: static;
        }

        li {
          list-style: none;
          padding: .4em 1em 0;
          border-bottom: 2px solid transparent;
          transition: border-color 246ms ease;
          position: relative;

          &:after {
            display: block;
            position: relative;
            content: '';
            border-bottom: 4px solid #fff;
            top: 4px;
            width: 0;
            transition: all 0.4s;
            margin-right: auto;
            margin-left: auto;
          }

          &:not(.crumb):hover {
            color: #2990cf;
            border-bottom-color: #777;
            cursor: pointer;

            &:after {
              width: 100%;
              border-color: #2980b9;
            }
          }
        }

        .selected {
          border-bottom: 2px solid #2990cf;
        }
      }
    }
  }
}

header {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .username, .app-name {
    align-self: flex-end;
    padding-bottom: 10px;
  }

  .app-name {
    padding-left: .8em;
    font-size: 1.2em;
  }

  .app-logo {

  }

  .app-context {
    flex: 1;
  }
}

.content {
  flex-grow: 1;
  padding: 1em;

  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;

  &--user {
    font-size: 50px;
    padding: 10px;
  }

  &--nav {
    font-size: 2em;
    color: #fefefe;
  }
}

.footer {
  background-color: #333;
  padding: .3em 1em;
  color: #eee;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;

  .saved-msg {
    padding-left: 2rem;
  }
}

/* checkbox */
.check {
  display: none;
}

.check:checked ~ .list {
  width: 250px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* menu button - label tag */
.menu-btn {
  position: absolute;
  top: 2em;
  right: 2em;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 2px;
  background: #333;
  transition: all .5s;
  transform-origin: left top;
}

.bar.middle {
  top: 15px;
  opacity: 1;
}

.bar.bottom {
  top: 30px;
  transform-origin: left bottom;
}

.menu-btn__text {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all .5s;
  display: block;
  visibility: visible;
  opacity: 1;
}

.menu-btn:hover .bar {
  background: #999;
}

.menu-btn:hover .menu-btn__text {
  color: #999;
}

/* checked */
.check:checked ~ .drawer-menu {
  transition-delay: .3s;
  transform: none;
  opacity: 1;
  z-index: 2;
}

.check:checked ~ .menu-btn {

  &:hover {
    .menu-btn__text {
      color: #fefefe;
    }
  }

  .bar.top {
    width: 57px;
    transform: rotate(45deg);
    background-color: #fefefe;
  }

  .bar.middle {
    transform: translate(100px, 0);
  }

  .bar.bottom {
    width: 57px;
    top: 40px;
    transform: rotate(-45deg);
    background-color: #fefefe;
  }

  .menu-btn__text {
    color: #fefefe;
    transform-origin: left bottom;
    transform: rotate(-90deg) translate(12px, -10px);
  }
}

@media screen and (min-width: 1100px) {
  .nav__secondary--drawer {
    display: none !important;
  }
}

@media screen and (max-width: 1099px) {
  .nav__secondary--horizontal {
    display: none !important;
  }
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  transition: all 0s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.ink {
  display: block;
  position: absolute;
  background-color: #2990cf;
  border-radius: 100%;
  transform: scale(0);
}

.ink.animate {
  animation: ripple .7s linear;
}

@keyframes ripple {
  100% {opacity: 0; transform: scale(2.5);}
}

