html,
body {
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-family: 'Merriweather', serif;
}

h3 {
  color: $blue--hover;
}

h4 {
  color: $blue--hover;
  font-weight: 300;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

a {
  color: #c0392b;
  outline: none;
  padding: 0 2em;
  text-decoration: none;

  &:visited {
    color: #e74c3c;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.view {
  display: flex;
  height: 100vh;
}

.partial {
  &__wrapper {
    padding: 1em;
  }
}

.content {
  flex-grow: 1;
  overflow-y: auto;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;

  &--user {
    font-size: 50px;
    padding: 10px;
  }

  &--nav {
    color: #fefefe;
    font-size: 2em;
  }
}

[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  transition: all 0s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.abstract-context {
  &__wrapper {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
  }
}
