input:not([type="checkbox"]),
input:not([type="radio"]),
select,
textarea {
  border: $border;
  border-radius: $border__radius;
  box-shadow: $inset;
  box-sizing: border-box;
  padding: $padding;
  width: 100%;
}

%btn {
  background-color: #fff;
  border: 1px solid $blue;
  border-radius: $border__radius;
  box-shadow: $shadow;
  color: #333;
  cursor: pointer;
  font-size: 1.2rem;
  padding: .25em 1em;
  transition: $transition;

  &:enabled:hover {
    background-color: $blue;
    color: #fff;
  }
}

.a-btn {
  @extend %btn;

  &--filled {
    @extend %btn;
    background-color: $blue;
    border-color: $blue;
    color: #fff;

    &:enabled:hover {
      background-color: $blue--hover;
      border-color: $blue--hover;
    }
  }

  &:disabled {
    background-color: $cloud;
    border-color: $cloud--hover;
    color: #6a6a6a;
  }

  &--green {
    @extend %btn;
    border-color: $green;

    &:enabled:hover {
      background-color: $green;
    }

    &--filled {
      @extend %btn;
      background-color: $green;
      border-color: $green;
      color: #fff;

      &:enabled:hover {
        background-color: $green--hover;
        border-color: $green--hover;
      }
    }
  }

  &--yellow {
    @extend %btn;
    border-color: $yellow;

    &:enabled:hover {
      background-color: $yellow;
      color: #333;
    }

    &--filled {
      @extend %btn;
      background-color: $yellow;
      border-color: $yellow;
      color: #fff;

      &:enabled:hover {
        background-color: $yellow--hover;
        border-color: $yellow--hover;
      }
    }
  }

  &--white {
    @extend %btn;
    border-color: $cloud--hover;

    &:enabled:hover {
      background-color: $cloud--hover;
      color: #333;
    }
  }

  &--red {
    @extend %btn;
    border-color: $red;

    &:enabled:hover {
      background-color: $red;
    }

    &--filled {
      @extend %btn;
      background-color: $red;
      border-color: $red;
      color: #fff;

      &:enabled:hover {
        background-color: $red--hover;
        border-color: $red--hover;
      }
    }
  }
}

.a-lbl {
  align-items: center;
  display: flex;
  font-size: 1.1em;
  justify-content: space-between;
}

.informational {
  align-items: center;
  background-color: $cloud;
  border: 1px solid $cloud--hover;
  border-bottom-left-radius: $border__radius;
  border-bottom-right-radius: $border__radius;
  border-top: 0;
  color: #333;
  display: flex;
  padding: .125em .25em;


  .icon {
    flex-shrink: 0;
    margin-right: .5em;
  }
}

%whateverfix {
  align-items: center;
  background-color: $cloud;
  border: 1px solid $cloud--hover;
  color: #555;
  display: flex;
  font-size: 1rem;
  margin-left: 0 !important;
  padding: 0 .75em;
}

.a-group {
  display: flex;

  .affixed {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  > :not(:first-child) {
    margin-left: .5em;
  }

  > input {
    flex-grow: 1;
  }

  > .a-btn {
    font-size: 1rem;
    padding: 0 1em;
  }

  > .prefix {
    @extend %whateverfix;
    border-bottom-left-radius: $border__radius;
    border-right: 0;
    border-top-left-radius: $border__radius;


    + input {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: 0;
    }
  }

  > .suffix {
    @extend %whateverfix;
    border-bottom-right-radius: $border__radius;
    border-left: 0;
    border-top-right-radius: $border__radius;
  }

  > .infix {
    @extend %whateverfix;
    border-left: 0;
    border-right: 0;

    + input {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: 0;
    }
  }
}
