.guide {
  &__button {
    &__wrapper {
      padding: .5em 0;

      > button {
        margin-left: .5em;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.fonz__wrapper {
  display: flex;
  justify-content: center;
}