.throwaway {
  &__section {
    padding: 1em;
    background-color: #fff;
    border: 1px solid $cloud;
    border-radius: $border__radius;
    margin-bottom: 1em;

    > h3 {
      margin-top: 2rem;
    }
  }

  &__button {
    &__wrapper {
      padding: .5em 0;

      > button {
        margin-left: .5em;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.fonz__wrapper {
  display: flex;
  justify-content: center;
}