<div class="content">

  <h2>Counter</h2>
  <p>This counter provides a simple implementation of the redux pattern using the ngrx library.</p>

  <section>
    <h3>Example</h3>
    <div class="counter">
      <button class="mcui-btn overlay" (click)="decrement()">
        <svg class="icon"><use xlink:href="#keyboard_arrow_left"></use></svg>
      </button>
      <div [ngClass]="getColorClass(count$ | async)">{{ count$ | async }}</div>
      <button class="mcui-btn overlay" (click)="increment()">
        <svg class="icon"><use xlink:href="#keyboard_arrow_right"></use></svg>
      </button>
      <button class="mcui-btn minimalist reset" (click)="reset()">Reset</button>
    </div>

    <p class="informational">
      <svg class="icon"><use xlink:href="#info2"></use></svg>
      Open your browser console to see ngrx effects in action.
    </p>
  </section>

  <section>
    <h3>Component and Store Location</h3>
    <pre><code highlight [code]="someCode"></code></pre>
    <a href="https://tfs.mayo.edu/tfs/MayoClinic/Mayo%20Open%20Developer%20Network/_git/mayo-web-basecamp?path=%2Fsrc%2Fapp%2Fdelete-me%2Fexamples%2Fcounter&version=GBdevelop&_a=contents" target="_blank">Code</a>
  </section>

</div>

