html,
body {
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-family: 'Merriweather', serif;
}

h3 {
  color: $blue--hover;
}

h4 {
  color: #555;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.link {
  color: #c0392b;
  outline: none;
  padding: 0 2em;
  text-decoration: none;

  &:visited {
    color: #e74c3c;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.view {
  display: flex;
  height: 100vh;
}

.partial {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px - 32px);

  > [ui-view],
  ui-view {
    @extend %partial--padding !optional;
  }
}

.content {
  flex-grow: 1;
  overflow: hidden;

  > [ui-view],
  ui-view {
    @extend %partial--padding !optional;
  }

  .no-nav {
    @extend %partial--padding !optional;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;

  &--user {
    font-size: 50px;
    padding: 10px;
  }
}
