ul {
  margin: 0;
  padding: 0;
}

.view {
  display: flex;
  height: 100vh;
}

.partial {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px - 32px);
  width: 100vw;
  max-width: 100vw;

  > [ui-view],
  ui-view {
    @extend %partial--padding !optional;
  }
}

.content {
  flex-grow: 1;
  overflow: hidden;

  > [ui-view],
  ui-view {
    @extend %partial--padding !optional;
  }

  .no-nav {
    @extend %partial--padding !optional;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 50px;
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;

  &--user {
    font-size: 50px;
    padding: 10px;
  }
}
