// forms
$border: 1px solid #bdc3c7;
$border__radius: 0;
$inset: inset 0 7px 12px -7px rgba(100, 100, 100, .15);
$padding: .25em .25em;
$button-transition: all 146ms ease;
$shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
$hover-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);
$active-shadow: inset 1px 2px 2px 0 rgba(0, 0, 0, .1);

// color
$blue: #2990CF;
$blue--hover: darken($blue, 7%);
$green: #00a175;
$green--hover: darken($green, 7%);;
$yellow: #f1c40f;
$yellow--hover: darken($yellow, 7%);
$cloud: #ecf0f1;
$cloud--hover: darken($cloud, 7%);
$red: #c0392b;
$red--hover: darken($red, 7%);
$background--light: #f9f9f9;

// branding colors
$mayo-blue: #003da5;
$mayo-blue--navy: #071d49;
$mayo-blue--40: #99b1db;
$mayo-blue--20: #ccd8ed;
$mayo-blue--10: #e5ebf6;
$mayo-blue--5: #f4f8ff;
$mayo-black: #111111;
$mayo-charcoal: #54585a;
$mayo-terratone: #717268;
$mayo-taupe: #babbb1;
$mayo-grey: #d5d5d0;
