<main class='partial'>
    <div class="partial__wrapper">

        <section>
            <h2>Animation</h2>
        </section>

        <section>
            <h2>Auto-suggest</h2>
        </section>

        <section>
            <h2>Buttons</h2>

            <div class="button-row">
                <button class="a-btn">Button</button>
                <button class="a-btn--filled">Filled</button>
                <button class="a-btn" disabled>Disabled</button>
            </div>
            <div class="button-row">
                <button class="a-btn--green">Button</button>
                <button class="a-btn--green--filled">Filled</button>
                <button class="a-btn--green" disabled>Disabled</button>
            </div>
            <div class="button-row">
                <button class="a-btn--yellow">Button</button>
                <button class="a-btn--yellow--filled">Filled</button>
                <button class="a-btn--yellow" disabled>Disabled</button>
            </div>
            <div class="button-row">
                <button class="a-btn--white">Button</button>
                <button class="a-btn--white">Filled</button>
                <button class="a-btn--white" disabled>Disabled</button>
            </div>
            <div class="button-row">
                <button class="a-btn--red">Button</button>
                <button class="a-btn--red--filled">Filled</button>
                <button class="a-btn--red" disabled>Disabled</button>
            </div>

            <h3>Button labels</h3>
            <p>All button labels are sentence case. They should be as short as possible, while clearly explaining to
                users
                what happens when they press the button.</p>

            <h3>Button order</h3>
            <p>Buttons are sorted by importance from left to right.</p>

            <h3>Button position</h3>
            <p>
                While there is something to be said for usability around buttons that are right justified
                there are use cases for left justifying buttons to provide a more accessible form. See the <a href="">straw
                test</a>
                in Accessibility.
            </p>

            <h3>Button types</h3>
            <h3>Button variations</h3>
            <h3>Toggle buttons</h3>
            <h3>Grouped buttons</h3>
        </section>

        <section>
            <h2>Color</h2>
        </section>

        <section>
            <h2>Dialogs</h2>
        </section>

        <section>
            <h2>Forms</h2>
            <h3>Form details</h3>
            <h3>Form layout</h3>
            <h3>Label alignment</h3>
            <h3>Affixes</h3>
            <h3>Feedback (error and success)</h3>
            <h3>Choices in forms</h3>
            <h4>Single choice: Radio buttons vs. dropdowns vs. switch</h4>
            <h4>Multiple choice: Check boxes</h4>
            <h3>Designing long forms</h3>
            <h4>Multi-step forms</h4>
            <h4>Progressive disclosure</h4>
        </section>

        <section>
            <h2>Iconography</h2>
        </section>


        <section>
            <h2>Images</h2>
            <h3>Vector</h3>
            <h3>Raster</h3>
        </section>

        <section>
            <h2>Lists</h2>
            <h3>Read only lists</h3>
            <h3>Inline-line edit</h3>
            <h3>Multi-level lists</h3>
        </section>

        <section>
            <h2>Messaging</h2>
            <h3>Toast</h3>
            <h4>Toast types</h4>
            <h3>Proximal messages</h3>
            <h4>Proximal message types</h4>
            <h3>Banner alerts</h3>
        </section>

        <section>
            <h2>Process indicators</h2>
            <h3>Loading indicator</h3>
            <h3>Progress bar</h3>
        </section>

        <section>
            <h2>Profile Card</h2>
        </section>

        <section>
            <h2>Tables</h2>
            <h3>Filtering</h3>
            <h3>Pagination</h3>
            <h3>Sorting</h3>
        </section>


        <section>
            <h2>Tabs</h2>
        </section>

        <section>
            <h2>Typography</h2>
        </section>

    </div>
</main>
