.nav {

  &__primary {
    background-color: #333;
    transition: all .4s ease;
    transition-delay: 246ms;
    width: 50px;

    &:hover {
      width: 225px;
    }

    li {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      color: $cloud;
      cursor: pointer;
      overflow: hidden;
      padding: .625em .8em;
      padding-bottom: 5px;
      position: relative;
      transition: transform .3s ease, border-radius 1s ease;
      white-space: nowrap;
      z-index: 4;

      &:hover {
        background-color: $blue;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        color: #eee;
        transform: translate(7px, 0);

        svg {
          color: $cloud;
        }
      }

      > span {
        padding-left: 10px;
        position: relative;
        top: -.5em;
        z-index: 2;
      }
    }

    .selected {
      background-color: $blue--hover;
      color: $cloud;
      transform: translateX(4px);
      border-bottom-left-radius: $border__radius;
      border-top-left-radius: $border__radius;
    }
  }
}

.app-version {
  color: $cloud;
  display: flex;
  font-size: .7em;
  justify-content: center;
  padding: 1em 0;
  transition: color .5s cubic-bezier(.64, .1, .34, .1);
  width: 50px;
}

.app-logo {
  width: 50px;

  &__wrapper {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
}

.icon {
  &--nav {
    color: #fefefe;
    font-size: 1.8em;
  }
}
