<main class="partial">
    <nav class="nav__secondary">
        <ul class="nav__secondary--horizontal">
            <li class="crumb">Design</li>
            <li ui-sref-active="selected" ui-sref="app.design.overview">Overview</li>
            <li ui-sref-active="selected" ui-sref="app.design.foundations">Foundations</li>
            <li ui-sref-active="selected" ui-sref="app.design.patterns">Patterns</li>
            <li ui-sref-active="selected" ui-sref="app.design.components">Components</li>
            <li ui-sref-active="selected" ui-sref="app.design.animation">Animation</li>
            <li ui-sref-active="selected" ui-sref="app.design.onboarding">Onboarding</li>
        </ul>
        <div class="nav__secondary--drawer">
            <input type="checkbox" class="check" id="checked">
            <label class="menu-btn" for="checked">
                <span class="bar top"></span>
                <span class="bar middle"></span>
                <span class="bar bottom"></span>
                <span class="menu-btn__text">MENU</span>
            </label>
            <div class="list">
                <ul>
                    <li ui-sref-active="selected" ui-sref="app.design.overview">Overview</li>
                    <li ui-sref-active="selected" ui-sref="app.design.foundations">Foundations</li>
                    <li ui-sref-active="selected" ui-sref="app.design.patterns">Patterns</li>
                    <li ui-sref-active="selected" ui-sref="app.design.components">Components</li>
                    <li ui-sref-active="selected" ui-sref="app.design.animation">Animation</li>
                    <li ui-sref-active="selected" ui-sref="app.design.onboarding">Onboarding</li>
                </ul>
            </div>
        </div>
    </nav>
<div ui-view class="partial__wrapper"></div>
</main>