.abstract-context {
  &__horizontal {
    border-bottom: 1px solid #ccc;
    flex-shrink: 0;
    padding: .5em 1em;
  }

  &__vertical {
    border-right: 1px solid #ccc;
    flex-shrink: 0;
    padding: 1em;

    &__wrapper {
      display: flex;
      height: 100%;

      > [ui-view] {
        flex-grow: 1;
      }
    }
  }
}
