.modals {
  &__btn {
    margin-left: .75em;

    &__wrapper {
      border-top: 1px solid $cloud--monochrome;
      display: flex;
      justify-content: flex-end;
      margin-top: 1.5em;
      padding-top: .5em;
    }
  }
}
