.nav__primary {
  background-color: #333;
  display: flex;
  flex-direction: column;
  transition: all .4s ease;
  transition-delay: 246ms;
  width: 50px;
  position: fixed;
  height: 100vh;
  z-index: 9999;

  &:hover {
    width: 225px;
  }

  > ul {
    flex-grow: 1;
  }

  li {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: $cloud;
    cursor: pointer;
    overflow: hidden;
    padding: .625em;
    position: relative;
    transition: transform .3s ease, border-radius 1s ease;
    white-space: nowrap;
    z-index: 4;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $blue;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      color: #eee;
      transform: translate(7px, 0);

      svg {
        color: $cloud;
      }
    }

    span {
      padding-left: 15px;
      z-index: 2;
    }

    > a {
      color: inherit;
      font-size: inherit;
      text-decoration: none;
      display: flex;
    }
  }

  .selected {
    background-color: $blue--hover;
    border-bottom-left-radius: $border__radius;
    border-top-left-radius: $border__radius;
    color: $cloud;
    transform: translateX(4px);
  }
}

.app-version {
  color: $cloud;
  display: flex;
  font-size: .7em;
  justify-content: center;
  padding: 1em 0;
  transition: color .5s cubic-bezier(.64, .1, .34, .1);
}

.mc-stack {
  height: 50px;
  width: 48px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    margin: 10px 0;
  }
}

.icon {
  &--nav {
    color: #fefefe;
    font-size: 1.4em;
    padding-left: .2em;
    flex-shrink: 0;
  }
}
