<div class="content">
  <h2 class="h2s">
    <svg class="icon">
      <use xlink:href="#architecture"></use>
    </svg>
    Components
  </h2>
  <section class="cards">
    <div class="card">
      <a href="javascript:void(0);" routerLink="/components/dialogs">
        <svg class="icon">
          <use xlink:href="#crop_square"></use>
        </svg>
        <div>Dialogs</div>
      </a>
    </div>
    <div class="card">
      <a href="javascript:void(0);" routerLink="/components/datagrid">
        <svg class="icon">
          <use xlink:href="#grid_on"></use>
        </svg>
        <div>Data Grid</div>
      </a>
    </div>
    <div class="card">
      <a href="javascript:void(0);" routerLink="/components/datepicker">
        <svg class="icon">
          <use xlink:href="#calendar-o"></use>
        </svg>
        <div>Datepicker</div>
      </a>
    </div>
  </section>
</div>
