<input #hamburger id="hamburger" class="hamburger" type="checkbox" />
<label for="hamburger" class="hamburger">
  <i></i>
  <div></div>
</label>
<nav class="primnav">
  <ul>
    <li>
      <a title="Dashboard" href="javascript:void(0);" routerLink="dashboard" routerLinkActive="active">
        <svg class="icon"><use xlink:href="#dashboard2"></use></svg> Dashboard
      </a>
    </li>
    <li>
      <a title="Examples" href="javascript:void(0);" routerLink="examples" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <svg class="icon"><use xlink:href="#lightbulb_outline"></use></svg> Examples
      </a>
      <ul class="secnav">
        <li>
          <a title="Counters" href="javascript:void(0);" routerLink="examples/counter" routerLinkActive="active">Counter</a>
        </li>
        <li>
          <a title="Forms" href="javascript:void(0);" routerLink="examples/forms" routerLinkActive="active">Forms</a>
        </li>
        <li>
          <a title="FHIR" href="javascript:void(0);" routerLink="examples/fhir" routerLinkActive="active">FHIR</a>
        </li>
      </ul>
    </li>
    <li>
      <a title="UI" href="javascript:void(0);" routerLink="ui" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <svg class="icon"><use xlink:href="#desktop_windows"></use></svg>
        User Interface
      </a>
      <ul class="secnav">
        <li>
          <a title="Element.UI" href="javascript:void(0);" routerLink="ui/element.ui" routerLinkActive="active">Element.UI</a>
        </li>
        <li>
          <a title="Iconography" href="javascript:void(0);" routerLink="ui/iconography" routerLinkActive="active">Iconography</a>
        </li>
        <li>
          <a title="Patterns" href="javascript:void(0);" routerLink="ui/patterns" routerLinkActive="active">Patterns</a>
        </li>
        <li>
          <a title="Sass" href="javascript:void(0);" routerLink="ui/sass" routerLinkActive="active">Sass</a>
        </li>
      </ul>
    </li>
    <li>
      <a title="Components" href="javascript:void(0);" routerLink="components" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <svg class="icon"><use xlink:href="#architecture"></use></svg> Components
      </a>
    </li>
    <li>
      <a title="Clean Slate Protocol" href="javascript:void(0);" routerLink="clean-slate" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <svg class="icon"><use xlink:href="#app-logo"></use></svg> Clean Slate Protocol
      </a>
    </li>
  </ul>
</nav>
