<input id="hamburger" class="hamburger" type="checkbox" />
<label for="hamburger" class="hamburger">
  <i></i>
  <div></div>
</label>
<nav class="primnav">
  <ul>
    <li>
      <a title="Dashboard" href="#dashboard">
        <svg class="icon"><use xlink:href="#th-large"></use></svg> Dashboard
      </a>
    </li>
    <li>
      <a title="FHIR" href="#fhir">
        <svg class="icon"><use xlink:href="#fire"></use></svg> FHIR
      </a>
      <ul class="secnav">
        <li>
          <a title="FHIR Patient" href="#patient">Patient</a>
        </li>
        <li>
          <a title="FHIR Observations" href="#patient-observations">Observations</a>
        </li>
        <li>
          <a title="FHIR Conditions" href="#patient-conditions">Conditions</a>
        </li>
      </ul>
    </li>
    <li>
      <a title="UI" href="#/ui">
        <svg class="icon"><use xlink:href="#desktop_windows"></use></svg>
        User Interface
      </a>
      <ul class="secnav">
        <li>
          <a title="Patient" href="#/elementui">Element.UI</a>
        </li>
        <li>
          <a title="Observations" href="#/iconography">Iconography</a>
        </li>
        <li>
          <a title="Conditions" href="#/conditions">Patterns</a>
        </li>
        <li>
          <a title="Conditions" href="#/sass">Sass</a>
        </li>
      </ul>
    </li>
    <li>
      <a title="Components" href="#components">
        <svg class="icon"><use xlink:href="#architecture"></use></svg> Components
      </a>
    </li>
    <li>
      <a title="Avalanche" href="#avalanche">
        <svg class="icon"><use xlink:href="#app-logo"></use></svg> Avalanche Protocol
      </a>
    </li>
  </ul>
</nav>
