@import "~element.ui/modules/core";

%condition-list-item {
  display: flex;
  border-bottom: 1px solid $color-grey-10;

  > .cdtn-name {
    flex-basis: 25%;
  }

  > .cdtn-status {
    flex-basis: 12rem;
  }

  > .cdtn-codings {
    flex-grow: 1;
  }

  > .cdtn-date {
    flex-basis: 10rem;
  }
}

:host {
  display: flex;
  height: 100%;
}

.patient-list {
  flex-shrink: 0;
  height: 100%;

  h4 {
    padding: $space-sm $space-l;
    margin-bottom: $space-sm;
  }

  li {
    padding: $space-sm $space-l;

    &:hover {
      cursor: pointer;
      background: $color-white;
    }
  }
}

.conditions {
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
  padding: $space-inset-default;
  box-sizing: border-box;

  > ul > li:first-child {
    @extend %condition-list-item;
    margin: $space-stack-sm;

    > div {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  > ul > li:not(:first-child) {
    @extend %condition-list-item;
    padding: $space-m 0;
    box-sizing: border-box;
    line-height: 1;
    min-height: 4em;

    a {
      display: block;
    }
  }
}

ul {
  padding: 0;
  list-style: none;
}
