<section class="partial__wrapper">
    <h1>Buttons</h1>
    <div class="guide__button__wrapper">
        <button class="a-btn">Click me :)</button>
        <button class="a-btn--filled">Filled</button>
        <button class="a-btn" disabled>Disabled</button>
    </div>
    <div class="guide__button__wrapper">
        <button class="a-btn--green">Click me :)</button>
        <button class="a-btn--green--filled">Filled</button>
        <button class="a-btn--green" disabled>Disabled</button>
    </div>
    <div class="guide__button__wrapper">
        <button class="a-btn--yellow">Click me :)</button>
        <button class="a-btn--yellow--filled">Filled</button>
        <button class="a-btn--yellow" disabled>Disabled</button>
    </div>
    <div class="guide__button__wrapper">
        <button class="a-btn--white">Click me :)</button>
        <button class="a-btn--white">Filled</button>
        <button class="a-btn--white" disabled>Disabled</button>
    </div>
    <div class="guide__button__wrapper">
        <button class="a-btn--red">Click me :)</button>
        <button class="a-btn--red--filled">Filled</button>
        <button class="a-btn--red" disabled>Disabled</button>
    </div>
</section>
