<section class="mc-stack__wrapper">
    <img class="icon mc-stack" src="../../../assets/images/inline-svg/mc-stack-white.svg">
</section>

<ul class="nav__primary__list">

  <li *ngFor="let link of links" class="nav" [routerLink]="link.route">
    <img class="icon icon--nav" [src]="link.iconSrc">
    <span>{{link.label}}</span>
  </li>

</ul>
<section class="app-version">
    <!-- This is generated based on the version listed in package.json -->
    <!-- inject:version -->
    0.1.13
    <!-- endinject -->
</section>
