<main class="partial__wrapper">

    <section class="throwaway__section">
        <h1 id="avatars">Avatars</h1>
    </section>


    <section class="throwaway__section">
        <h1>Buttons</h1>

        <div class="throwaway__wrapper">
            <button class="a-btn">Action</button>
            <button class="a-btn--filled">Filled</button>
            <button class="a-btn" disabled>Disabled</button>
        </div>
        <div class="throwaway__wrapper">
            <button class="a-btn--green">Action</button>
            <button class="a-btn--green--filled">Filled</button>
            <button class="a-btn--green" disabled>Disabled</button>
        </div>
        <div class="throwaway__wrapper">
            <button class="a-btn--yellow">Action</button>
            <button class="a-btn--yellow--filled">Filled</button>
            <button class="a-btn--yellow" disabled>Disabled</button>
        </div>
        <div class="throwaway__wrapper">
            <button class="a-btn--white">Action</button>
            <button class="a-btn--white">Filled</button>
            <button class="a-btn--white" disabled>Disabled</button>
        </div>
        <div class="throwaway__wrapper">
            <button class="a-btn--red">Action</button>
            <button class="a-btn--red--filled">Filled</button>
            <button class="a-btn--red" disabled>Disabled</button>
        </div>

        <h3>Button labels</h3>
        <p>All button labels are sentence case. They should be as short as possible, while clearly explaining to
            users
            what happens when they press the button.</p>

        <h3>Button order</h3>
        <p>Buttons are sorted by importance from left to right.</p>

        <h3>Button types</h3>
        <h3>Button variations</h3>
        <h3>Toggle buttons</h3>
        <h3>Grouped buttons</h3>
    </section>


    <section class="throwaway__section">
        <h1>Cards</h1>
    </section>


    <section class="throwaway__section">
        <h1>Forms</h1>
        <div class="throwaway__wrapper">
            <h3>Form details</h3>
            <h3>Form layout</h3>
            <h3>Label alignment</h3>
            <h3>Affixes</h3>
            <h3>Feedback (error and success)</h3>
            <h3>Choices in forms</h3>
            <h4>Single choice: Radio buttons vs. dropdowns vs. switch</h4>
            <h4>Multiple choice: Check boxes</h4>
            <h3>Designing long forms</h3>
            <h4>Multi-step forms</h4>
            <h4>Progressive disclosure</h4>
        </div>
    </section>


    <section class="throwaway__section">
        <h1>Lists</h1>
        <h3>Read only lists</h3>
        <h3>Inline-line edit</h3>
        <h3>Multi-level lists</h3>
    </section>


    <section class="throwaway__section">
        <h1>Messaging</h1>
        <h3>Toast</h3>
        <h4>Toast types</h4>
        <h3>Inline messages</h3>
        <h4>Inline message types</h4>
        <h3>Banner alerts</h3>
    </section>


    <section class="throwaway__section">
        <h1>Process indicators</h1>
        <h3>Loading indicator</h3>
        <h3>Progress bar</h3>
    </section>


    <section class="throwaway__section">
        <h1>Search Criteria</h1>
    </section>


    <section class="throwaway__section">
        <h1>Tables</h1>
    </section>


    <section class="throwaway__section">
        <h1>Tabs</h1>
    </section>


    <section class="throwaway__section">
        <h1>Tooltips</h1>
    </section>

</main>
