<section class="partial__wrapper">
    <section class="throwaway__section">
        <h1>Buttons</h1>

        <div class="throwaway__button__wrapper">
            <button class="a-btn">Action</button>
            <button class="a-btn--filled">Filled</button>
            <button class="a-btn" disabled>Disabled</button>
        </div>
        <div class="throwaway__button__wrapper">
            <button class="a-btn--green">Action</button>
            <button class="a-btn--green--filled">Filled</button>
            <button class="a-btn--green" disabled>Disabled</button>
        </div>
        <div class="throwaway__button__wrapper">
            <button class="a-btn--yellow">Action</button>
            <button class="a-btn--yellow--filled">Filled</button>
            <button class="a-btn--yellow" disabled>Disabled</button>
        </div>
        <div class="throwaway__button__wrapper">
            <button class="a-btn--white">Action</button>
            <button class="a-btn--white">Filled</button>
            <button class="a-btn--white" disabled>Disabled</button>
        </div>
        <div class="throwaway__button__wrapper">
            <button class="a-btn--red">Action</button>
            <button class="a-btn--red--filled">Filled</button>
            <button class="a-btn--red" disabled>Disabled</button>
        </div>

        <h3>Button Labels</h3>
        <p>All button labels are sentence case. They should be as short as possible, while clearly explaining to users what happens when they click the button.</p>

        <h3>Button Order</h3>
        <p>Buttons are sorted by importance from left to right.</p>

        <h3>Button Types</h3>
        <h3>Button Variations</h3>
        <h3>Toggle Buttons</h3>
        <h3>Grouped Buttons</h3>
    </section>

    <section class="throwaway__section">
        <h1>Forms</h1>
    </section>

    <section class="throwaway__section">
        <h1>Lists</h1>
    </section>

    <section class="throwaway__section">
        <h1>Tables</h1>
    </section>

    <section class="throwaway__section">
        <h1>Tabs</h1>
    </section>

    <section class="throwaway__section">
        <h1>Search Criteria</h1>
    </section>

    <section class="throwaway__section">
        <h1>Messaging</h1>
    </section>
</section>
