<main class='partial'>
    <nav class='nav__secondary'>
        <ul class='nav__secondary--horizontal'>
            <li class='crumb'>REPORTING</li>
            <li ui-sref-active='selected' ui-sref='.one'>One</li>
            <li ui-sref-active='selected' ui-sref='.two'>Two</li>
            <li ui-sref-active='selected' ui-sref='.three'>Three</li>
        </ul>
        <div class='nav__secondary--drawer'>
            <input type='checkbox' class='check' id='checked'>
            <label class='menu-btn' for='checked'>
                <span class='bar top'></span>
                <span class='bar middle'></span>
                <span class='bar bottom'></span>
                <span class='menu-btn__text'>MENU</span>
            </label>
            <div class='list'>
                <ul>
                    <li ui-sref-active='selected' ui-sref='.one'>One</li>
                    <li ui-sref-active='selected' ui-sref='.two'>Two</li>
                    <li ui-sref-active='selected' ui-sref='.three'>Three</li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="abstract-context__vertical__wrapper">
        <section class='abstract-context__vertical patient__sidebar'>
            <img class="icon icon--user" src="../../../assets/images/inline-svg/user.svg" />
            <div class="patient__sidebar__name">Rogers, Steve</div>
        </section>

        <ui-view></ui-view>
    </section>
</main>
