<main class='partial'>
    <nav class='nav__secondary'>
        <ul class='nav__secondary--horizontal'>
            <li class='crumb'>SYS. ADMIN.</li>
            <li ui-sref-active='selected' ui-sref='.one'>One</li>
            <li ui-sref-active='selected' ui-sref='.two'>Two</li>
            <li ui-sref-active='selected' ui-sref='.three'>Three</li>
        </ul>
        <div class='nav__secondary--drawer'>
            <input type='checkbox' class='check' id='checked'>
            <label class='menu-btn' for='checked'>
                <span class='bar top'></span>
                <span class='bar middle'></span>
                <span class='bar bottom'></span>
                <span class='menu-btn__text'>MENU</span>
            </label>
            <div class='list'>
                <ul>
                    <li ui-sref-active='selected' ui-sref='.one'>One</li>
                    <li ui-sref-active='selected' ui-sref='.two'>Two</li>
                    <li ui-sref-active='selected' ui-sref='.three'>Three</li>
                </ul>
            </div>
        </div>
    </nav>
    <ui-view></ui-view>
</main>
