<div class="content">

  <h2 class="h2s">
    <svg class="icon">
      <use xlink:href="#center_focus_strong"></use>
    </svg>
    Angular CLI
  </h2>
  <section class="links-container">
  </section>

  <h2 class="h2s">
    <svg class="icon">
      <use xlink:href="#center_focus_strong"></use>
    </svg>
    NGRX
  </h2>
  <section class="links-container">
  </section>

  <h2 class="h2s">
    <svg class="icon">
      <use xlink:href="#palette"></use>
    </svg>
    Element.UI
  </h2>
  <section class="links-container">
  </section>

  <app-examples></app-examples>
  <!--<app-components></app-components>-->
</div>

