@import "~element.ui/modules/all";
@import "./assets/scss/variables";

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

$main: #0070cc;

body {
  // overflow: hidden;
  scrollbar-base-color: $main;
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: $main;
  scrollbar-track-color: $main;
  scrollbar-arrow-color: $main;
  scrollbar-shadow-color: $main;
  scrollbar-dark-shadow-color: $main;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

[hidden] {
  display: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  padding: $space-inset-l;
  box-sizing: border-box;
  width: 100%;
}

.tabs {
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $color-grey-10;
  background: $color-white;

  @include media('>=tablet') {
    top: -1.4em;
    background: transparent;
  }

  > ul {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    flex-wrap: wrap;

    @include media('>375px') {
      justify-content: flex-start;
    }
  }

  .tab {
    font-size: .8em;
    padding: 1em;
    white-space: nowrap;
    flex-shrink: 0;
    display: block;
    text-decoration: none;
    color: $color-blue-70;

    &:hover {
      background-color: darken(#f4f4f4, 5%);
      cursor: pointer;
    }
  }

  + .content {
    padding-top: 0;
  }
}


