@import "~element.ui/modules/all";
@import "assets/scss/tiles";
@import "assets/scss/tabs";
@import "assets/scss/scroll";

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@mixin fadeIn($duration: 246ms, $delay: 0s, $easing: ease-out) {
  opacity: 0;
  animation: fade-in $duration $delay $easing forwards;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  padding: $space-l $space-xl;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  @include scroll();

  > section {
    margin: $space-stack-xl;
  }
}

.icon {
  height: 1em;
  width: 1em;
  display: inline-block;
  fill: currentColor;
}

.informational {
  display: flex;
  padding: $space-inset-sm;
  color: rgba($color-black, .8);
  background: $color-white;

  .icon {
    margin-right: $space-sm;
    fill: $color-light-blue-50;
    align-self: center;
    height: 1.2em;
    width: 1.2em;
    flex-shrink: 0;
  }
}

main > router-outlet + * {
  height: 100%;
  max-height: 100%;
  @include fadeIn();
  display: flex;
  flex-direction: column;
}

.h2s {
  display: flex;

  .icon {
    align-self: center;
    margin-right: $space-sm;
    color: $color-light-blue-50;
  }

}


